<div class="todo login bg-dark p-5">
  <%= form_for(:session, url: login_path) do |t| %>
    <div class="login">
      <div class="form-group w-50 mx-auto mt-4">
        <%= t.label :email, class: "text-light" %>
        <%= t.email_field :email, class:"form-control text-center", placeholder: "WHAT IS YOUR EMAIL" %>
      </div>
      <div class="form-group w-50 mx-auto mt-4">
        <%= t.label :password, class: "text-light" %>
        <%= t.password_field :password, class:"form-control text-center", placeholder: "WHAT IS YOUR PASSWORD" %>
      </div>
      <div class="form-group w-50 mx-auto mt-4">
        <%= t.label :password_confirmation, class: "text-light" %>
        <%= t.password_field :password_confirmation, class:"form-control text-center", placeholder: "PUT DOWN AGAIN" %>
      </div>
      <div class="form-group w-50 mx-auto mt-4">
        <%= t.label :remember_me do %>
          <%= t.check_box :remember_me %>
          <span class="text-light">Remember me on this conputer</span>
        <% end %>
      </div>
      <div class="form-group w-50 mx-auto mt-4">
        <%= t.submit "LOG IN", class:"btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>