<div class="lists">
  <% @tasks.each do |t| %>
    <div id="comment-<%= t.id %>"  class="list text-light d-flex justify-content-center py-3">
      <p id="js-comment-label-<%= t.id %>" class="mx-5 my-2"><%= t.title %></p>
      <p id="js-comment-post-error-<%= t.id %>" class="text-danger"></p>
      <%# 編集用 %>
      <textarea style="display: none;" id="js-textarea-comment-<%= t.id %>" class="form-control comment-post-error w-25"><%= t.title %></textarea>
      <div id="js-comment-button-<%= t.id %>" style="display: none;">
        <button data-cancel-id=<%= t.id %> type="button" class="btn btn-light comment-cancel-button">cancel</button>
        <button data-update-id=<%= t.id %> type="submit" class="btn btn-success comment-update-button">Update</button>
      </div>
      <span data-comment-id=<%= t.id %> class="js-edit-comment-button btn btn-primary rounded-circle edit far fa-edit"></span>
      <span>
        <%= link_to t, class:"btn btn-danger rounded-circle mx-2", method: :delete, remote: true, data: { confirm: "You sure?" } do %>
          <%= fa_icon('trash-alt') %>
        <% end %>
      </span>
    </div>
  <% end %>
</div>